<!-- views/teams/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Teams Index</title>
  </head>
  <body>
    <body>
        <h1>All NFL Teams</h1>
        <ul>
          <% teams.forEach(team => { %>
            <li><a href="/teams/<%= team._id %>"><%= `${team.city} ${team.name}`%></a></li>
          <% }); %>
        </ul>
        <a href="/teams/new">Add New Team</a>
      </body>
  </body>
</html>
