<!-- views/teams/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Teams Index</title>
  </head>
  <body>
    <div class="index-header-div">
      <h1>All NFL Teams</h1>
      <a class="add-team" href="/teams/new">Add New Team</a>
    </div>
    <ul>
      <% teams.forEach(team => { %>
      <li>
        <a class="team-cards" href="/teams/<%= team._id %>">
          <%= `${team.city} ${team.name}`%>
        </a>
      </li>
      <% }); %>
    </ul>
  </body>
</html>
