<!-- views/teams/new.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Add a Team</title>
  </head>
  <body>
    <h1>Add a team!</h1>
    <form action="/teams" method="POST">
        <label for="city">City/State:</label>
        <input type="text" name="city" id="city" />
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" />
        <div class="checkbox-div">
        <label for="isReadyForPlayoffs">Ready for Playoffs?</label>
        <input type="checkbox" name="isReadyForPlayoffs" id="isReadyForPlayoffs" />
        </div>
    
        <button type="submit">Add NFL Team</button>
    </form>
    <a class="teams-index-link" href="/teams/">
      <div class= "index-link-text">Back to Teams</div>
    </a>
  </body>
</html>